form {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  padding: 10px 45px;
  background: rgba(255, 0, 0, 0.725);
  border-radius: 16px;
  border: 5px solid rgba(0, 0, 0);
  max-width: 550px;
}

label {
  font-size: 20px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

input,
textarea {
  width: 450px;
  padding: 5px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #0000009d;
  color: #ff0000;
  padding: 9px;
}

button:hover {
  background-color: #000000;
}

select{
  padding: 0px;
  width: 450px;
}

.btn {
  margin-left: 25%;
}