@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


.navibar {
    border-bottom: 5px solid #000000;
    background-color: #ff0000 !important;

}


.me-auto {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-family: Shrikhand;
}

.logo{
    width: 150px;
    margin-right: 30px;
    padding: 10px;
    margin-bottom: 0px;
}