@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.rodape {
    background: #ff0000;
    color: #000000;
}

.rodapes{
    display: flex;
}

.redes-socias img {
    width: 75px;
    padding: 5px;
    height: 60px;
    display: flex;
}


.rodapes ul {
    width: 30%;
    margin-top: 30px;
}


.rodapes h3 {
    font-size: 16px;
    margin-bottom: 16px;
    font-family: Shrikhand;
}

.rodapes li {
    list-style: none;
    font-family: Shrikhand;
}

.qr{
    width: 60px;    
}

.rodapes .logo {
    width: 500px;
        align-items: center;
        height: 200px;
        margin-left: 55px;
}

.direito{
    text-align: center;
    
}

.produzido{
    text-align: center;
    font-size: 16px;
    margin-bottom: 0px;
}