@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

footer .rodape {
    display: flex;
    background: #ff0000;
    color: #000000;
}


footer .redes-socias img {
    width: 75px;
    padding: 5px;
    height: 60px;
    display: flex;
}


footer .rodape ul {
    width: 30%;
    margin-top: 30px;
}


footer .rodape h3 {
    font-size: 16px;
    margin-bottom: 16px;
    font-size: 600;
    font-family: Shrikhand;
}


footer .rodape li {
    list-style: none;
    font-family: Shrikhand;
}

.qr{
    width: 60px;    
}

.rodape .logo {
    width: 500px;
    padding: 20px;
}











/* footer .logo-rodape {
        width: 300px;
        align-items: center;
        
        height: 100px;
        margin-left: 55px;
        } */